version: 2.1

orbs:
  node: circleci/node@5.2

jobs:
  test:
    executor: node/default
    steps:
      - checkout
      - node/install-packages:
          pkg-manager: npm
      - run:
          name: Run tests
          command: npm test

  deploy:
    executor: node/default
    environment:
      FIREBASE_TOKEN: ${FIREBASE_TOKEN}
    steps:
      - checkout
      - node/install-packages:
          pkg-manager: npm

      - run:
          name: Build project
          command: npm run build

      - run:
          name: Install Firebase CLI
          command: npm install -g firebase-tools

      - run:
          name: Deploy to Firebase Hosting
          command: firebase deploy --only hosting:to-do-6bbda --non-interactive

workflows:
  test_and_deploy:
    jobs:
      - test
      - deploy:
          requires:
            - test
          filters:
            branches:
              only: main
